@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/Montserrat/MontserratRegular.eot'); /* IE9 Compat Modes */
     src: local('Montserrat'), local('MontserratRegular'),
          url('../fonts/Montserrat/MontserratRegular.eot') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Montserrat/MontserratRegular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Montserrat/MontserratRegular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/Montserrat/MontserratRegular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/Montserrat/MontserratRegular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
     font-family: 'PlayfairDisplay';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/Playfair_Display/Playfair_DisplayRegular.eot'); /* IE9 Compat Modes */
     src: local('PlayfairDisplay'), local('PlayfairDisplayRegular'),
          url('../fonts/Playfair_Display/Playfair_DisplayRegular.eot') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Playfair_Display/Playfair_DisplayRegular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Playfair_Display/Playfair_DisplayRegular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/Playfair_Display/Playfair_DisplayRegular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/Playfair_Display/Playfair_DisplayRegular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
     font-family: 'PlayfairDisplayBold';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/Playfair_Display/Playfair_DisplayBold.eot'); /* IE9 Compat Modes */
     src: local('PlayfairDisplay'), local('PlayfairDisplayBold'),
          url('../fonts/Playfair_Display/Playfair_DisplayBold.eot') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Playfair_Display/Playfair_DisplayBold.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Playfair_Display/Playfair_DisplayBold.woff') format('woff'), /* Modern Browsers */
          url('../fonts/Playfair_Display/Playfair_DisplayBold.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/Playfair_Display/Playfair_DisplayBold.svg') format('svg'); /* Legacy iOS */
}




