@import "fonts";
@import "animated";
//Переменные
$margin: 0 auto;
$bc_button: #DD7D5C;
$c_button: #FDFBFA;
$p_button: 17px 50px 17px 50px;
$fz_button: 16px;
$c_text: #403637;
$b_body: #ffffff;
$c: #987A6E;
$c_in: #CBA696;
$m_hero: 420px;
$fontText: 'Montserrat',
sans-serif;

//mixin
@mixin button($f, $c, $b, $lh, $p) {
    font-size: $f;
    color: $c;
    background: $b;
    line-height: $lh;
    padding: $p;
}

@mixin border_menu ($bb, $w, $t, $r, $b) {
    border-bottom: $bb;
    width: $w;
    transition: $t;
    right: $r;
    bottom: $b;
}

@mixin resolution($w, $h) {
    width: $w;
    height: $h;
}

// Шаблон
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

nav,
footer,
header {
    display: block;
}

body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    border: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul,
li {
    display: block;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

body {
    border: 0;
}

p,
a {
    font-family: $fontText;
    color: $c_text;
}

h2,
button {
    font-weight: bold;
}


// Первый экран

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}

.header {

    background: #E8D4C9;
}

.border-header {
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $c;
        transform: translateY(28px);
    }
}

.header-logo {
    margin: 18px 0 18px 0;
    width: 100%;
    height: 100%;
}

.menu {


    margin-top: 35px;

    &__item {
        margin: 0 18px;
        font-size: 14px;

    }

    a {

        position: relative;
        text-decoration: none;
        line-height: 22px;

    }

    a::before {
        content: '';
        position: absolute;
        @include border_menu(2px solid $c, 0, width .5s ease-in-out, 0, 0);
    }

    a:hover::before {
        width: 100%;
        left: 0;
    }

}




.hero {
    background: $b_body;
}

.hero-pusets h1 {
    font-size: 230px;
    margin: $margin;
    color: #FCF9F7;
    margin-top: 31px;
}

.hero-content {
    position: absolute;
    background: #FCF9F7;
    @include resolution(1100px, 662px);
    margin-top: -55px;
    left: -67%;
    color: $c_text;

    &__title {
        font-size: 120px;
        margin-top: 63px;

    }

    &__title h2 {
        margin: $margin;
        margin-left: $m_hero;
        line-height: 68px;
    }

    &__text {
        font-size: 25px;
        width: 388px;
        line-height: 42px;
        padding-top: 58px;
        padding-bottom: 88px;
        margin-left: $m_hero;
    }

    &__btn {
        margin-left: $m_hero;

    }



}


.hero-image {
    margin-top: 63px;

}

.hero-image img {
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {

        transform: scale(1.1);
    }
}

.btn button {
    @include button($fz_button, $c_text, none, 140%, $p_button);
    border: 2px solid $bc_button;
    transition: 0.5s ease;

    &:hover {
        background: $bc_button;
        color: $c_button;
    }
}

//Второй экран

.content {
    margin-top: 208px;
}

.content-header {
    &__title {}

    &__text {}
}

.title {
    font-size: 36px;
    line-height: 48px;
}

.text {
    font-size: 18px;
    line-height: 130%;
}

.main {
    margin-top: 61px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.5s ease;

    &:hover {
        border: 1px solid $c;
        box-sizing: border-box;
        transform: scale(1.1);
    }

    &__image {}

    &__text p {
        padding: 83px 0 30px 30px;
        color: #CBA696;

    }

}

.main-btn button {
    position: absolute;
    @include button($fz_button, $c_text, none, 140%, 10px 30px 10px 30px);
    border: 2px solid $bc_button;
    transition: 0.5s ease;
    margin-left: 177px;
    margin-top: 40px;

    &:hover {
        background: $bc_button;
        color: $c_button;
    }

}

.price {
    display: block;
    margin-left: 50px;
    font-size: 24px;
    color: $c_in;
    font-weight: bold;
    margin-top: 50px;

}

.info-header {
    margin-top: 161px;

    &__title {}

    &__text {}
}


.item {
    margin-top: 67px;

    &__image {}

    &__title {
        padding-top: 42px;
        font-size: 20px;
        color: $c_text;
        font-weight: bold;
        line-height: 27px;


    }

    &__text {
        margin-top: 10px;
        font-size: 16px;
        line-height: 26px;
        width: 250px;
        height: 250px;
        color: $c_text;

    }

}

.content-load {
    margin-top: 62px;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;

    &__btn {
        font-size: 18px;
        line-height: 140%;
        cursor: pointer;


    }

    &:hover {
        border-bottom: 2px solid $c_in;
    }
}

.arrow {
    margin-top: 10px;
    margin-left: 20px;
}

.contact-item {}

.list {
    font-family: $fontText;
    color: $c_text;
    font-size: 18px;
    line-height: 24px;
    z-index: 1;

    &__item {
        width: 285px;
        height: 41px;

    }

    &__item:nth-child(1) {
        margin-top: 69px;
    }

    &__item:nth-child(2) {
        margin-top: 41px;
    }


}

.list-right {
    margin-left: 141px;

    a {
        border-bottom: 1px solid $c_in;
    }

}

.list-title {
    position: absolute;
    display: block;

    &__pusets {
        font-size: 300px;
        color: #FCF9F7;
        line-height: 68px;
        margin-top: 140px;
    }
}

.maps {
    position: absolute;
    margin-top: 250px;


    iframe {
        width: 760px;
        height: 200px;
    }

}

.group {
    position: relative;
    margin-bottom: 33px;

    &:nth-child(1) {
        margin-top: 49px;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid $c_in;
    }

    input:focus {
        outline: none;
    }

    label {
        color: $c_in;
        font-size: 12px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        font-family: $fontText;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    input:focus~label,
    input:valid~label {
        top: -20px;
        font-size: 14px;
        color: #CBA696;
    }
}



.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $c_text;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 0;
}


input:focus~.bar:before,
input:focus~.bar:after {
    width: 100%;
}





.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px cursor pointer;
    font-size: 12px;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    // .control__indicator

    &__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 12px;
        width: 12px;
        border: 1px solid $c_in;
    }

}

.checkbox .accept {
    width: 389px;

}

input[type="checkbox"] {
    display: none;
}

.control-group label {
    font-size: 10px;
    font-family: $fontText;
    margin-left: 10px;
    color: $c_text;
    line-height: 15px;
    cursor: pointer;

    &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid $c_in;
        vertical-align: middle;
        margin-left: -10px;
        margin-right: 10px;
        transition: 0.2s;
    }

}
input[type="checkbox"]:checked+label::before {
    content: '';
    background: $c_in;
    background-image: url('../img/tick.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.form-button button {
    @include button($fz_button, $c_text, none, 140%, 10px 32px 10px 32px);
    border: 2px solid $bc_button;
    transition: 0.5s ease;
    margin-top: 25px;

    &:hover {
        background: $bc_button;
        color: $c_button;
    }
}

.footer {
    margin-top: 35px;
    background: $c_in;
    height: 100%;
    width: 100%;
}

.footer-logo {
    margin-top: 32px;
    margin-bottom: 23px;
}

.copyright {
    font-size: 12px;
    margin-left: 132px;
    margin-top: 40px;
    width: 250px;

    :nth-child(2) {
        margin-top: 10px;
    }

}

.mediabay {
    font-size: 12px;
    margin-top: 40px;

    a {
        border-bottom: 1px solid $c_text;
    }

    :nth-child(2) {
        margin-top: 10px;
    }
}

@import "media";